<h1><%= t 'cp.forums.edit.page.title' %></h1>

<%= form_tag main_app.admin_forum_path,
             :role => 'form',
             :method => 'put' do %>
  <%= hidden_field_tag :name => 'id',
                       :value => @vars[:forum]['id'] %>
  <div class="form-group">
    <label for="title"><%= t('cp.forums.forum_title') %></label>
    <input type="text" class="form-control" id="title" name="title"
           placeholder="<%= t('cp.forums.forum_title_hint') %>"
          value="<%= @vars[:forum]['title'] %>">
  </div>
  <div class="form-group">
    <label for="desc"><%= t('cp.forums.forum_desc') %></label>
    <textarea class="form-control" id="desc" name="desc"
              placeholder="<%= t('cp.forums.forum_desc_hint') %>"><%= @vars[:forum]['desc'] %></textarea>
  </div>
  <div class="form-group">
    <label for="in_alliance"><%= t('cp.forums.in_alliance_desc') %>
      <input type="checkbox" id="in_alliance" name="in_alliance"
             value="<%= @vars[:forum]['in_alliance'] %>">
    </label>
  </div>

  <%= link_to t('cp.cancel_btn'),
              main_app.admin_forum_index_path(session[:user_clan]),
              :class => 'btn btn-danger' %>
  <button type="submit" class="btn btn-primary"><%= t('cp.forums.update') %></button>
<% end %>
