<h1><%= t 'cp.manage_forums' %></h1>

<p>
  <%= link_to t('cp.forums.add'), new_admin_forum_path,
              :class => 'btn btn-primary' %>
</p>

<table class="table table-condensed">
  <tr>
    <th><%= t 'cp.forums.forum_title' %></th>
    <th><%= t 'cp.forums.forum_desc' %></th>
    <th><%= t 'cp.forums.sorting_id' %></th>
    <th></th>
  </tr>
  <% @vars[:forums].each do |forum| %>
    <tr>
      <td><%= forum['title'] %></td>
      <td><%= forum['desc'] %></td>
      <td><%= forum['sort_by'] || '0' %></td>
      <td>
        <%= link_to t('cp.forums.delete_forum'),
                      main_app.admin_forum_path(:id => forum['id']),
                      :onclick => "return confirm('#{t('cp.forum.confirm_delete')}\\n#{forum['title']}')",
                      :method => 'delete',
                      :class => 'btn btn-xs btn-danger' %>
        <%= link_to t('cp.forums.edit_forum'),
                      main_app.edit_admin_forum_path(:id => forum['id']),
                      :class => 'btn btn-xs btn-default' %>
      </td>
    </tr>
  <% end %>
</table>

<p class="bg-danger">
  TODO: <%= link_to t('cp.forums.apply_sorting'),
              '#',
              :class => 'btn btn-xs btn-default' %>
</p>
