<h1><%= t 'cp.manage_alliances' %></h1>

<p><%= t 'cp.alliance.what_gives' %>
  <%= t 'cp.alliance.non_transitive' %></p>

<h2><%= t 'cp.alliance.allied_clans' %></h2>

<p><%= t 'cp.alliance.how_to' %></p>

<% unless @vars[:alliances].empty? %>
<table class="table table-condensed">
  <tr>
    <th><%= t 'cp.alliance.other_clan' %></th>
    <th></th>
  </tr>
  <% @vars[:alliances].each do |alli| %>
    <tr>
      <td><%= alli %></td>
      <td>
        <%= link_to t('cp.forums.delete_forum'),
                      '#',
                      :onclick => "return confirm('#{t('cp.alliance.confirm_delete')}\\n#{alli}')",
                      :method => 'delete',
                      :class => 'btn btn-xs btn-danger' %>
        <%= link_to t('cp.forums.edit_forum'),
                      '#',
                      :class => 'btn btn-xs btn-default' %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <div class="alert alert-warning" role="alert">
    <%= t 'cp.alliance.no_allied_clans' %>
  </div>
<% end %>

<h2><%= t 'cp.alliance.alliance_requests' %></h2>

<p><%= t 'cp.alliance.request_expiration' %></p>

<% unless @vars[:alliance_requests].empty? %>
<table class="table table-condensed">
  <tr>
    <th><%= t 'cp.alliance.other_clan' %></th>
    <th></th>
  </tr>
  <% @vars[:alliance_requests].each do |alli| %>
    <tr>
      <td><%= alli %></td>
      <td>
        <%= link_to t('cp.forums.delete_forum'),
              '#',
              :onclick => "return confirm('#{t('cp.alliance.confirm_reject')}\\n#{alli}')",
              :method => 'delete',
              :class => 'btn btn-xs btn-danger' %>
        <%= link_to t('cp.forums.edit_forum'),
                    '#',
                    :class => 'btn btn-xs btn-default' %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <div class="alert alert-warning" role="alert">
    <%= t 'cp.alliance.no_requests' %>
  </div>
<% end %>
