<h1><%= t 'cp.domain.manage_domain' %></h1>

<p><%= t 'cp.domain.about_short' %>
  <%= raw t('cp.domain.about_long', :clan_index => @vars[:clan_index]) %></p>

<div class="row">
  <div class="col-lg-1 dropcap"><span class="glyphicon glyphicon-home"></span></div>
  <div class="col-lg-6 vcenter">
    <%= t 'cp.domain.subdom.status' %>:
    <%= render :partial => @vars[:site]['free_subdomain'].present? ? 'status_enabled' : 'status_disabled' %>
    (<%= link_to(@vars[:free_subdomain],
                 @vars[:free_subdomain]) %>)
  </div>
  <div class="col-lg-5 text-right">
    <%= link_to t('cp.domain.configure_btn'),
                admin_domain_free_path,
                :class => 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-1 dropcap"><span class="glyphicon glyphicon-globe"></span></div>
  <div class="col-lg-6 vcenter">
    <%= t 'cp.domain.cust.status' %>:
    <%= render :partial => @vars[:site]['custom_domain'].present? ? 'status_enabled' : 'status_disabled' %>
    (<%= link_to(@vars[:custom_domain], @vars[:custom_domain]) %>)
  </div>
  <div class="col-lg-5 text-right">
    <%= link_to t('cp.domain.configure_btn'),
                admin_domain_custom_path,
                :class => 'btn btn-default' %>
  </div>
</div>
