<!DOCTYPE html>
<html>
<head>
  <title><%=t 'app.title' %></title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="margin-top:16px;">
<%= render :partial => 'shared/menu_row' # has own row/col inside
%>

<div class="row"><div class="col-lg-10 col-lg-offset-1">
  <% if notice %><br/><p class="alert alert-success"><%= notice %></p><% end %>
  <% if alert %><br/><p class="alert alert-danger"><%= alert %></p><% end %>
</div></div>

<div class="row"><div class="col-lg-12">
<%= yield %>
</div><!--col--></div> <!--row-->

<%= render :partial => 'shared/footer' %>
</div><!--ctnr-->



</body>
</html>
