<div class="row forumPost">
  <div class="col-lg-3">
    <%= t('app.forums.created_by') + ' ' + get_username(post['created_by']) %><br/>
    <%= distance_of_time_in_words_to_now(post['created_at_d'], {include_seconds: true}) %>
    <%= t 'app.forums.ago' %>
  </div>
  <div class="col-lg-9">
    <div class="col-lg-9">
      <h3><%= post['title'] %></h3>
    </div>

    <div class="row">
      <div class="col-lg-12 forumPostBody">
          <%= post['body'] %>
      </div>
    </div>

    <div class="row"><div class="col-lg-12 text-right">
      <%= link_to t('app.forums.reply_button'),
                  new_post_path(:thread_id => params[:id],
                                :reply_to => post['id']),
                  :class => 'btn btn-default btn-xs' %>
      <%= link_to t('app.forums.edit_button'),
                  '#',
                  :class => 'btn btn-default btn-xs',
                  :disabled => true %>
      <%= link_to t('app.forums.report_button'),
                  '#',
                  :class => 'btn btn-warning btn-xs',
                  :disabled => true %>
    </div></div>
  </div>
</div>
