<div class="row">
  <div class="col-lg-4">
    <%= link_to t('app.frontpage'), main_app.root_path, :class => 'btn btn-default' %>
    <% if session[:user_clan] != 'null' and (not session[:user_clan].nil?) and session[:clan_site_exists] %>
      <%= link_to t('app.forums'), '#', :class => 'btn btn-default' %>
      <%= link_to t('app.control_panel'), main_app.control_panel_path, :class => 'btn btn-default' %>
    <% end %>
    <% if user_signed_in? and not session[:clan_site_exists] %>
      <%= t('app.no_site_yet') %>
    <% end %>
  </div>

  <div class="col-lg-6 text-right">
    <% if user_signed_in? %>
      <%=t 'app.logged_in_as' %> <strong><%= session[:user_nickname] %></strong>,
      <% if session[:user_clan] != 'null' %>
        <% if session[:is_clan_leader] %><%= t('app.leader_of_clan')
%><% else %><%= t('app.member_of_clan') %><% end %>
        [<%= session[:clan_info]['abbreviation'] %>]
        <%= session[:clan_info]['name'] %>
      <% else %>
        <%= t 'app.no_clan' %><% end %>
      <%= link_to t('app.logout'), main_app.wot_log_out_path,
                  :method => :delete, :class => 'btn btn-default' %>

    <% else %>
      <form method="post" action="https://api.worldoftanks.ru/wot/auth/login/">
        <a href="https://worldoftanks.ru/registration/ru/" class="btn btn-default"><%=t 'app.register' %></a>
        <input type="hidden" name="application_id" value="a2725c4b342fdf9977ffe92a2b84f4ee" />
        <input type="hidden" name="redirect_uri" value="<%= main_app.home_wot_logged_in_url %>" />
        <input type="hidden" name="expires_at" value="86400" />
        <input type="submit" value="<%=t 'app.login_with_wot_id' %>" class="btn btn-primary" />
      </form>
    <% end %>
  </div><!--col-->

  <div class="col-lg-2 text-right">
    <%= t 'app.lang_switch' %>
    <%= link_to 'RU', main_app.root_url(:locale => 'ru') %>
    <%= link_to 'EN', main_app.root_url(:locale => 'en') %>
  </div><!--col-->
</div><!--row-->
