<tr>
  <td><%= i[0] %></td>
  <% AclModel::ACLS.each do |acl_name| %>
    <% if @clan_acl[i[1]].include?(acl_name) %>
      <td>
        <span class="bg-success"><%= t('cp.acl.have') %></span>
        <button type="button" class="btn btn-danger btn-xs"><%= t('cp.acl.revoke_btn') %></button>
      </td>
    <% elsif UserModel.is_user_clan_admin(session[:clan_info], i[1]) %>
      <td>
        <span class="bg-success"><%= t('cp.acl.yes_leader') %></span>
      </td>
    <% else %>
      <td>
        <span class="bg-warning"><%= t('cp.acl.doesnt_have') %></span>
        <button type="button" class="btn btn-warning btn-xs"><%= t('cp.acl.grant_btn') %></button>
      </td>
    <% end %>
  <% end %>
</tr>