<h1><%= t 'cp.manage_newsfeed' %></h1>

<p>
  <%= link_to t('cp.newsfeed.add'),
              new_admin_newsfeed_path,
              :class => 'btn btn-primary' %>
</p>

<table class="table table-condensed">
<tr>
    <th><%= t 'cp.newsfeed.title' %></th>
    <th><%= t 'cp.newsfeed.short' %></th>
    <th><%= t 'cp.newsfeed.updated' %></th>
    <th></th>
</tr>
<% @news.each do |item| %>
  <%= render :partial => 'newsfeed_item',
             :locals => {:i => item} %>
<% end %>
</table>
