<h1><%= t 'cp.manage_acl' %></h1>

<p><%= t 'cp.acl.leader_is_always_admin' %></p>

<table class="table table-condensed">
  <tr>
    <th><%= t 'cp.acl.member_name' %></th>
    <% AclItem::ACLS.each do |acl_name| %>
    <th><%= acl_name %></th>
    <% end %>
  </tr>
  <% @clan_members.each do |item| %>
    <%= render :partial => 'acl_item',
               :locals => {:i => item} %>
  <% end %>
</table>
