<h1><%= t'app.search.results' %></h1>

<p><%= t('app.search.found_n_results', :count => @vars[:clans].size) %></p>

<br/>
<hr/>

<div class="row">
<% unless @vars[:clans].empty? %>
  <% @vars[:clans].each do |clan| %>
    <div class="col-lg-4">
      <%= image_tag clan['emblems']['large'] %><br/>
      <h4><%= link_to "[#{clan['abbreviation']}] #{clan['name']}",
                      clan_index_path(:clan_id => clan['clan_id'])
      %></h4>
      <p class="text-muted"><%= clan['motto'] %></p>
    </div>
  <% end %>
<% end %>
</div>
