<h1><%= t 'app.new_site.title' %></h1>

<%= form_tag main_app.home_new_site_path,
             :role => 'form', :method => 'post' do %>
  <div class="form-group">
    <label for="delegate"><%=t 'app.new_site.delegate_label' %></label>
    <%= select_tag :delegate,
                   options_for_select([[t('app.new_site.delegate_nobody'), 0]] + @clan_members),
                   :class => 'form-control' %>
    <p class="help-block"><%=t 'app.new_site.delegate_help' %></p>
  </div>
  <%= button_tag t('app.new_site.submit'),
        :type => 'submit', :class => 'btn btn-primary' %>
<% end #form %>
